Source: autogt
Section: utils
Priority: important
Maintainer: Alexander Krefting <kakrefting@gmail.com>
Build-Depends: debhelper-compat (= 12)

Package: autogt
Architecture: all
Depends: git
Description: Auto Gt is an tool for easyer manager git
 You need Git for Use autogt
